<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <div class="container">

        <a href="/mariam-sikharulidze"  class="name-link">

    <h1 class="about">MARIAM SIKHARULIDZE</h1>

        </a>

    <h1 class="about2">ABOUT:</h1>

    

    <p class="text">This is just one big page where I can write all about myself,some day this site will be all that’s left of me, so I might as well write my own mini autobiography. </p>

    <h1 class="about2">TIME LINE FOR CONTEXT:</h1>

            <ul class="year">
            <li>1999:born in Tbilisi,Georgia</li>
            <li>2007:I started singing and dancing,I had concerts, I enjoyed what I was doing.</li>
            <li>2009:started playing piano</li>
            <li>2010:I started training for karate,I wanted to learn to defend myself.</li>
            <li class="long-text">2011:I started going to athletics.I was preparing for three years. During that time, sports helped me develop both physically and mentally. I achieved some success in domestic championships, and I had a chance to represent my country at the European Championships, but I decided to devote my time to my studies and quit sports.</li>
            <li>2013:My parents divorced, I changed both my place of residence and my school</li>
            <li>2017:i graduated from school</li>
            <li>2017:I started studying at the Caucasus International University, Faculty of Law</li>
            <li>2018:While studying, I worked in the service sector</li>
            <li>2018:Due to difficult working conditions, I left my job to devote more time to my studies</li>
            <li>2021:I graduated from university and received a Bachelor of Laws degree</li>
            <li>2021:I continued my studies at Caucasus International University to earn a master's degree</li>
            <li>2022:I completed an internship at the Ministry of Education and Science of Georgia, in the Legal Department, in the Expertise Division</li>
            <li>2024:I graduated from university and received a Master of Laws degree</li>
            <li>2024:During my 6-year university studies, I spent 5 years thinking that I would be able to find justice in this unjust world and establish it in society. I also gained professional experience in public relations.Unfortunately, I later realized that I had wasted 6 years of studying in a direction that could not bring me a happy and just future</li>
            <li>2025:I started studying programming languages, realizing that this profession would be very comfortable for me, and what is also important is that it is a highly valued and one of the most sought-after professions in the world today</li>
        </ul>

        <h1 class="about2">ABOUT ME:</h1>

        <p class="ambition">I AM AMBITIOUSLY FOCUSED ON LEARNING PROGRAMMING</p>

        <p class="paragraph">I've optimized my life for learning. I've cut out most things from my life that most normal people do — (like hanging out or media consumption) — in pursuit of my bigger goal.</p>

        <p class="paragraph">Honestly, I never need any motivation to learn something. The idea of learning to program particularly since learning to program gives me even more control of my electronic devices is exciting to me.</p>
       
        <p class="paragraph">In today's society, knowing how to computer program is one of the most valuable skills somebody can possess. It is an essential tool that enables us to communicate with computers and complete tasks. It has a wide range of uses, from managing businesses to creating new products. The importance of computer programming cannot be understated. It helps us solve problems and carry out tasks more efficiently. It also allows us to automate processes and create new ways of doing things. Computer programming is a highly sought-after skill in an increasingly technological world.</p>

        <h1 class="ambition">I AM AMERICAN IN THE BIG SPECTRUM OF CULTURAL NORMS</h1>
        
        <p class="paragraph">I didn't realise,until i Until I grew up and got to know myself better, that in the big spectrum of cultural norms, I'm very American,meaning:</p>

        <li class="paragraph">very individualist</li>
        <li class="paragraph">live-to-work</li>
        <li class="paragraph">averse to many traditions</li>
        <li class="paragraph">seeking new ideas</li>
        <li class="paragraph">always smiling and finding the bright side 😄</li>

        <h1 class="ambition">FRIENDS</h1>
        <P class="paragraph">I don't subscribe to that “blood is thicker than water” metaphor. I feel pretty equally connected to everyone. I don't feel more bound or obligated to my immediate family than I do to strangers. In fact, because of my ambitious exploring nature, I'd rather focus on the unknown, and push further out into the world.</P>

        <p class="paragraph">I make friends easily. They come and go based on life circumstances. Proximity and interests spark friendships, but proximity and interests change. Best friends become old distant friends. New friends become best friends. Some people get married and stop calling. Some people get divorced and re-appear,but i don't trust people easily.</p>        
    
        <h1 class="ambition">MY FAMILY</h1>

        <p  class="paragraph">My husband is my true other half in this big world. I am very lucky to have him.I've never been this close with anyone, or spent this much time with any other person in my life. We talk talk talk so openly about everything, and do everything together. He’s definitely the love of my life.</p>

        <p class="paragraph">I also have a dog, specifically an American pit bull.Her name is <a href="/mia" class="mia-link">Mia</a> .Since she was born, 3.6 years ago,I've spent so many time giving miako my full undivided attention.No devices. No other people. Just me and her, with her leading the way.</p>

         <h1 class="ambition">MUSIC</h1>

         <p class="paragraph">Like my preference for one-on-one conversations, my relationship to a piece of music is personal — it's between me and the music. I don't want to have a bunch of other people around, and don’t want to be distracted with other things when listening. Ideally, instead of a one-to-one relationship between listener and musician, it would be one-to-zero, where I can’t even know who the musician is. Then I could focus just on the music itself, and not be distracted by any personal information about the musician.</p>


        <h1 class="ambition">QUESTIONS? THOUGHTS?</h1>
        <p class="paragraph">No comments here.That would be too weird.This is too personal.Just <a href="/email" class="email-link"> Email me</a>.</p>





        </div>


</body>
</html>