<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>


        <a href="/mariam-sikharulidze"  class="name-link">

    <h1 class="about">MARIAM SIKHARULIDZE</h1>

        </a>

        <h1 class="about2">AI USAGE</h1>

        <p class="ai-text">As of today, March 19, 2025, here is how I've used generative AI tools.</p>

        <hr id="ai-hr">

        <p class="ai-text">I use <a href="https://chatgpt.com/" target="_blank" id="ai2">ChatGPT</a> mostly for research, the way I used to use a search engine before it returned mostly spam.</p>
        <p class="ai-text">I have never ever used AI to generate text instead of my own. No emails. No sentences in my articles or books or even comments. Nothing pretending to be me.</p>
        <p class="ai-text">I enjoy the challenge of writing myself. It’s organized thinking. </p>
        <p class="ai-text">I have used AI to generate programming functions for me, in SQL,or JavaScript, for educational purposes, which I’ve then adapted to include in my own code.</p>
        <p class="ai-text">While I’m writing, I often ask it the kinds of things I would ask a friend sitting next to me. Like, “What are examples of different ways of seeing life that are impossible to prove or disprove?” Or, “What professions most use a physical toolbox?”</p>
        <p class="ai-text2">But again, the real point of this page is to let you know that nothing claiming to be written by me is written by an AI.</p>


</body>
</html>