<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comrades</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <a href="/mariam-sikharulidze"  class="name-link">
    <h1>MARIAM SIKHARULIDZE</h1>
</a>

    <div class="ejs-container">

        
    <img class="comrades" src="/images/comrades.png" alt="comrades">



    
  <div class="ejs-text">
    <h1 class="ejs2">Three Comrades - BY Erich Maria Remarque</h1>

    <p>ISBN:Elf-9789994054473</p>
    <p>DATE READ: 09/03/2019.</p>
    <p>HOW STRONGLY I RECOMMEND IT: 9/10</p>

</div>
</div>

<h2 class="ejs3">MY NOTES</h2>

<p class="ejs4">hello</p>

<p class="ejs4"> </p>
<p class="ejs4"> </p>
<p class="ejs4"></p>
<p class="ejs4"></p>
<p class="ejs4"></p>
<p class="ejs4"></p>
<p class="ejs5"></p>





</body>
</html>