<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <a href="/"  class="name-link">
    <h1>MARIAM SIKHARULIDZE</h1>
</a>

    <div class="ejs-container">

        
    <img class="demons" src="/images/tutashkhia1.png" alt="tutashkhia1">



    
  <div class="ejs-text">
    <h1 class="ejs2">Data Tutashkhia part 1 - BY Chabua Amirejibi</h1>

    <p>ISBN:978-5050000064</p>
    <p>DATE READ: 06/03/2025.</p>
    <p>HOW STRONGLY I RECOMMEND IT: 9/10</p>

</div>
</div>

<h2 class="ejs3">MY NOTES</h2>

<p class="ejs4">A Glimpse into Georgian History Data Tutashkhia is a vivid portrayal of Georgian society in the late 19th and early 20th centuries, capturing the struggles, resilience, and evolving identity of the Georgian people. Amirejibi’s historical accuracy and attention to detail immerse the reader in the culture and politics of the era.</p>

<p class="ejs4">Characterization of Data Tutashkhia The titular character, Data Tutashkhia, is a complex figure. He represents a symbol of strength, independence, and defiance against oppressive forces. His personal journey, struggles, and development serve as the backbone of the narrative.</p>
<p class="ejs4">The Struggles of a Nation The novel isn't just about one man's life, but also about the larger story of a nation caught between the decline of imperial powers and the fight for independence. Amirejibi expertly conveys the socio-political context of Georgia during this tumultuous period.</p>
<p class="ejs4">Themes of Honor and Resistance  Data embodies the Georgian sense of honor and resistance. His battles against foreign forces and the internal corruption within his own society highlight themes of national pride and the cost of freedom.</p>
<p class="ejs4">Romance and Tragedy Alongside political struggles, Amirejibi weaves personal elements of romance and tragedy. Data’s love story with the woman he cannot have adds depth to his character, showing the personal sacrifices he makes for the sake of the greater good.</p>
<p class="ejs5">Data Tutashkhia Part 1 is a powerful novel that blends personal and national struggles. Amirejibi crafts a gripping story of love, honor, and defiance against overwhelming odds. Through Data’s journey, the reader is drawn into a world of Georgian pride, resistance, and tragic sacrifice. The novel not only tells the story of an individual but also captures the spirit of a nation fighting for its survival. This first part of the series sets the stage for a deep and emotional exploration of the Georgian soul.</p>


</body>
</html>