<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Demons</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <a href="/"  class="name-link">
    <h1>MARIAM SIKHARULIDZE</h1>
</a>

    <div class="ejs-container">

        
    <img class="demons" src="/images/triumph.png" alt="triumph">



    
  <div class="ejs-text">
    <h1 class="ejs2">Arch of Triumph - BY Erich Maria Remarque</h1>

    <p>ISBN:9783462050936</p>
    <p>DATE READ: 06/03/2025.</p>
    <p>HOW STRONGLY I RECOMMEND IT: 9/10</p>

</div>
</div>

<h2 class="ejs3">MY NOTES</h2>

<p class="ejs4">A Novel of Exile and Loss  Arch of Triumph captures the despair and uncertainty of refugees fleeing Nazi Germany, focusing on their psychological struggles rather than just political themes. The novel brilliantly portrays the life of people who have lost their homeland and identity.</p>
<p class="ejs4">The Shadow of War Though set in pre-WWII Paris, the war looms over the story like an inevitable fate. The main character, Dr. Ravic, is a skilled German surgeon living in exile, performing illegal surgeries and trying to survive in a city that tolerates but does not accept hi</p>
<p class="ejs4">Love and Impermanence  Ravic’s relationship with Joan Madou is filled with passion, yet it is marked by the same transience that defines his entire existence. Their love is doomed from the start, making it both tragic and deeply human.</p>
<p class="ejs4">The Psychological Toll of Exile  Ravic, like many of Remarque’s characters, is emotionally numb due to past trauma. He has suffered torture, lost everything, and no longer believes in stability or happiness. His cynicism reflects the fate of many displaced individuals.</p>
<p class="ejs4">Remarque’s Poetic Prose  The writing is rich and atmospheric, making Paris feel alive yet cold and indifferent to those living in the margins. The novel immerses the reader in the world of refugees, their daily fears, and their fight for dignity.</p>
<p class="ejs5">Arch of Triumph is a melancholic yet powerful novel about displacement, trauma, and the search for meaning in a world on the brink of war. Remarque masterfully conveys the emotional weight of exile and the feeling of being caught in a life without a future. It is not just a war novel—it is a deeply human story about survival, love, and the fragility of hope.</p>


</body>
</html>