<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dead</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>

    <a href="/"  class="name-link">
    <h1>MARIAM SIKHARULIDZE</h1>
</a>

    <div class="ejs-container">

        
    <img class="demons" src="/images/obelisk.png" alt="obelisk">



    
  <div class="ejs-text">
    <h1 class="ejs2">The Black Obelisk - BY Erich Maria Remarque</h1>

    <p>ISBN:9783462051476</p>
    <p>DATE READ: 05/07/2020.</p>
    <p>HOW STRONGLY I RECOMMEND IT: 8/10</p>

</div>
</div>

<h2 class="ejs3">MY NOTES</h2>

<p class="ejs4">“The Black Obelisk” exists on two-dimensions simultaneously. It is not a matter of subtext, as both planes are reflected upon by the hero. The conflict between them is the main theme of the novel. On the one hand, Ludwig, the hero, is practical and cynical. The Weimar Republic was not an easy place to get along in. The value of the Mark was falling on an hourly basis, and political unrest surged out of the open wounds of WWI. However, even in times of trouble a civilized gentleman needs to maintain his fair portion of hedonism. Ludwig and his friends know the edges. He has adjusted his financial strategy for the times, and performs the necessary tricks to float above water in business and maintain a minimal level of indulgence in everyday pleasures. He is too cynical to act on ideals, and too phlegmatic to be straight; the time calls for resourcefulness and opportunism. However, he has no mean intentions and isn’t immoral. He attempts to pick his victims accurately, and bravely protests against the new wave of nationalism. He attempts to balance the tightrope which Germany of the 1920s was.</p>

<p class="ejs4">The rest of his time Ludwig spends in the metaphysical. The text, told by Ludwig in first person, is riddled with long paragraphs of pondering about the nature of things. He is a youth trying to figure out why do things happen the way they do, and reach emotional fulfillment. He writes poems, takes part in long dialogue-duels with a priest and a scientist, and asks passer-by for the meaning of life. A prominent character in the novel is Isabelle, a patient in an insane asylum suffering from schizophrenia. Ludwig forms a relationship with her, where they have long conversations which are not bound in any way by the laws of nature or the codes of behaviour. In many ways, Isabelle seems to Ludwig saner than the people inhabiting the outside world, for she floats highly above the everyday concerns he regards so measly.</p>
<p class="ejs4">Ludwig becomes emotionally attached to Isabelle, which emphasizes the main theme of “The Black Obelisk”: the tension between the everyday worries and momentarily pleasures of life, and the search for a higher purpose and understanding.   How can he do something as impractical as fall in love with somebody with whom a relationship is beyond impossible? On the contrary, how can he settle on somebody whose perceptive is caged by reality?</p>
<p class="ejs4">I relate greatly to Ludwig, and his conflict in particular. This is the main reason I loved this book so much. I too do a great deal to satisfy my immediate hedonistic needs. I go out aplenty, enjoying the riches the world has to offer. I attempt to have many various experiences, always on the lookout for the most important treasure I am collecting: story-value. Nothing is better than a good story I can tell vigorously years later. Ludwig goes through plenty of hilarious, bizarre, heroic and memorable events I would love to have in my repertoire of stories. This is the reward of a person leading an active lifestyle, who intends to meet urban adventures headfirst.</p>
<p class="ejs4">Me and Ludwig are both rationalists and romantics. It is a contradiction, but life is full of them. All things are both something and its opposite at once. Think of any adjective and try to decide whether you are it or its counter. You will find that under some circumstances both describe you. “The Black Obelisk” catches this concept perfectly, and this is what makes it a must-read in my opinion. Beyond its philosophy, it is also funny, touching and exquisitely written (many compliments to the English translation are in place here).</p>
<p class="ejs4"></p>
<p class="ejs4"></p>
<p class="ejs5">“I hold her close in my arms. She is trembling and looking at me and pressing herself against me and I hold her, we hold each other – two strangers who know nothing of one another and cling to one another because each mistakes the other for someone else: strangers who nevertheless derive a fleeting comfort from this misunderstanding which is a double and triple and endless misunderstanding and yet is the only thing that, like a rainbow, holds out the deceptive appearance of a bridge where no bridge can ever be, a reflection between two mirrors thrown onward into ever more distant emptiness.”</p>





</body>
</html>