<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Email Me</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  
<a href="/mariam-sikharulidze" class="email">MARIAM SIKHARULIDZE</a>
   
  <h2 class="details">CONTACT</h2>

  <h2 class="details">FIRST, WHO ARE YOU?</h2>

 

    <form action="/send-email" method="POST" class="email-form">
      <div class="email-form-group">
       <p class="detail">YOUR FULL NAME</p>
        <input type="text" id="name" name="name" required />
      </div>
      <div class="email-form-group">
        <p class="detail">YOUR EMAIL ADDRESS</p>
        <input type="email" id="email" name="email" required />
      </div>
      <div class="email-form-group">
        <P class="detail">PROVE YOU ARE HUMAN:</P>
        <p class="detail">TYPE MY LAST NAME (SHOWN ABOVE)</p>
        <input type="email" id="email" name="email" required />
      </div>
      <button type="submit" class="email-submit">OK-NOW WHAT?</button>
    </form>
  

  
</body>
</html>
