<!-- mariam.sikharulidze.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mariam Sikharulidze</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>


  <h1 id="first">MARIAM SIKHARULIDZE</h1>
 
  <a href="/me-in-10-minutes" id="second">ME IN 10 MINUTES</a>

  <a href="/email" id="second">CONTACT ME</a>

  <a href="/search" id="second">SEARCH THIS SITE</a>

<h2 id="books-heading">BOOKS</h2>


</body>
</html>
