<!-- mariam.sikharulidze.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mariam Sikharulidze</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>


  <h1 id="first">MARIAM SIKHARULIDZE</h1>
 
  <a href="/me-in-10-minutes" id="second">ME IN 10 MINUTES</a>

  <a href="/email" id="second">CONTACT ME</a>

  <a href="/search" id="second">SEARCH THIS SITE</a>

  

<h2 class="my-library"">MY LYBRARY</h2>

<a href="/">

<img class="library" src="/images/library.png" alt="library">

</a>

<h2 id="books-heading">PHOTOS</h2>

<div class="my-photos">

<img class="my-photos2" src="/images/me.png" alt="me">
<img class="my-photos2" src="/images/me2.png" alt="me">
<img class="my-photos2" src="/images/me3.png" alt="me">
<img class="my-photos2" src="/images/me4.png" alt="me">
<img class="my-photos2" src="/images/me5.png" alt="me">
</div>

<a href="/ai" id="books-heading-link">
<h2 id="books-heading">AI usage?</h2>
</a>
<p class="ai">Everything here is written by me, personally,not an<a href="/ai" id="ai2"> AI.</a></p>





</body>
</html>
